include LICENSE
include README.rst
include .coveragerc
exclude __pycache__
recursive-include nicedjango *.py
recursive-exclude nicedjango *.pyc
recursive-include tests *
recursive-exclude tests *.pyc
